import React, { Component } from 'react';
import enhancers from './enhancers';

class {{pascalCase screen}} extends Component {

  render() {
    return (
      <div>{{pascalCase screen}}</div>
    );
  }
}

export default enhancers.redux({{pascalCase screen}});