import React, { Component } from 'react';

class {{pascalCase screen}} extends Component {

  render() {
    return (
        <div>{{pascalCase screen}}</div>
    );
  }
}

export default {{pascalCase screen}};